@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'DM Sans';
  src: url('~assets/fonts/DMSans/DMSans-Regular.woff2') format('woff2'),
    url('~assets/fonts/DMSans/DMSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('~assets/fonts/DMSans/DMSans-Medium.woff2') format('woff2'),
    url('~assets/fonts/DMSans/DMSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Mono';
  src: url('~assets/fonts/DMMono/DMMono-Regular.woff2') format('woff2'),
    url('~assets/fonts/DMMono/DMMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
