h1 {
  font: var(--font-1);
  letter-spacing: var(--ls-20);
  font-weight: var(--display-font-weight);
}
h2 {
  font: var(--font-2);
  margin-bottom: 0.75rem;
  font-weight: var(--display-font-weight);
}
p {
  font: var(--font-base);
  letter-spacing: var(--ls-1);
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
}
